* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header {
    background-color: rgb(109, 109, 211);
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}

#logo {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 1rem;


}

.logoimg {
    width: 44px;
    height: 44px;
   
}
#logotext {
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}
.icons {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#searchHolder {
    width: 100%;
    max-width: 540px;
}

#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
    display: none;
}


.searchInput {
    margin-top: rem;
 
    border: none;
    outline: none;

    width: 100%;
}
 

.product {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
}
#productlist {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
}
.product .rating {
    color: rgb(179, 179, 46);
    font-size: 1rem;
}

.priceAndbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



@media only screen and (min-width: 768px) 

    .productlist {
       grid-template-columns: 1fr 1fr ;
   
   }

.product .price {
    font-size: 1rem;
}
.product button{
    padding: 0.5rem 1rem;
 
    background-color: rgb(26, 135, 26);
    color: white;
    border-color: aqua;
    border-radius: 0.5rem;
   
   

 }

@media only screen and (min-width: 960px) {
    #searchbox {
        display: flex;
    
    }
  }
 


  
